.container-fluid {
    background-color:#383E42;
}

.navbar {
   padding: 0px;
}

.nav-link {
    color:white;
}
.nav-link .active {
    color:white;
}
.navbar-brand{
    color:white;
    font-size:30px;
}


#background-container{
    background-image:url("/images1/friendsCoverFinal3.webp");
    background-repeat: repeat-0;
    height:800px;
}
h1{
    font-size:25px;
    color:white;
    font-style:italic;
}
h2{
    font-size:18px;
    color:white;
    font-style:italic;
}

.about-container{
    background-image:url("/images1/dark-grey.jpeg");
    height:800px
}

#h1_about{
    padding-left:520px;
    padding-top:100px;
}

#h2_about{
    padding-left:550px;
}

.container{
    color:black;
}

#backgroundMovie-container{
    background-image:url("/images1/dark-grey.jpeg");
    color:white;
    height:2000px
}
th{
    padding-left:50px;
}

td{
    padding-left:50px;
}

#rented-movie{
    padding-top:50px;
    padding-left:550px;

}
#rented-actor{
    padding-top:50px;
    padding-left:550px;

}

#rented-container{
     background-image:url("/images1/dark-grey.jpeg");
    color:white;
    height:2000px
}

.card-body{
    background-image:url("/images2/light-gray.jpeg");
    color:black;
    border:none;
}


#img-card{
    width:150px;
    height:100px;
}
#act-card{
    width:200px;
    height:150px;

}

.btn-primary{
    background-color:#3a5a40;
    border: none;
}



